@import url("https://fonts.googleapis.com/css2?family=Tomorrow:wght@300&display=swap");

body {
  font-family: Tomorrow, sans-serif;
  color: #043d94;
}

.header {
  display: flex;
  background-color: #cbe6ff;
}

h1 {
  margin-left: 5rem;
  margin-right: 4rem;
}

ul {
  display: flex;
}

.nav-item {
  text-decoration: none;
  list-style-type: none;
  margin-top: 1rem;
  margin-left: 1rem;
}

.interval-images {
  display: flex;
  justify-content: center;
}

.hamburger-menu {
  font-size: 30px;
  margin-top: 1rem;
}

#hamburger {
  max-width: 100%;
}

img {
  width: 500px;
  margin-top: 5rem;
  padding: 15px;
  background-clip: padding-box;
  background-color: #cbe6ff;
}

li:hover {
  cursor: pointer;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  font-size: 19px;
}

#search-area {
  border-radius: 1rem;
  border: 1px solid rgb(167, 167, 167);
  padding-left: 21px;
}

#search-area:focus {
  outline-color: #043d94;
}

.icon-background {
  margin-left: 15px;
  background-color: #043d94;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
}

#search-icon {
  background-color: #043d94;
  color: azure;
  max-width: 100%;
  border-radius: 50%;
  border-color: #043d94;
  margin-left: 0.5rem;
  font-size: 19px;
}

button:hover {
  cursor: pointer;
}

.not-in-library {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.in-library {
  text-align: center;
}

.search-img-result {
  margin-top: 0;
}
